<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>To Do List</h1>
      </div>
      <div  class="container">
        <form class="" action="/addTodo/" method="post">
          {% csrf_token %}
          <input type="text" name="text" value="Task to do"/>
          <input class="btn btn-outline-success btn-sm" type="submit" name="" value="ADD"/>

        </form>

      </div>
      <br>

      <div class="container">
        <ul>
          {% for item in listItem %}
            <li>{{ item.text }}
              <form style="display: inline;" class="" action="/deleteTodo/{{item.id}}/" method="post">
                {% csrf_token %}
                <input class="btn btn-outline-dark btn-sm" type="submit" name="" value="Delete">
              </form></li>
          {% endfor %}
        </ul>
      </div>
      <div class="container">
        <form action="/deleteAll/" method="post">
          {% csrf_token %}
          <input class="btn btn-outline-danger btn-lg" type="submit" name="" value="Delete All">
        </form><br><br>

        <form  class="" enctype="multipart/form-data" action="/upload/" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" >Upload</button>


       </form>
       {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
     {% endfor %}
    {% endif %}

          <br>

          {% if url %}
            <p>Uploaded file: </p>
            <ul>
              {% for urls in url %}
                <li>  <a href="{{ urls }}">{{ urls }}</a> </li>
                {% endfor %}

            </ul>



          {% endif %}




      </div>

    </div>
  </body>
</html>
