{% extends "pastebin_app/base.html" %}

{% block body_block %}
  <h1>Welcome to the Pastebin Clone Assesment</h1>

  <p><h4>Name: {{post_detail.name}} </h4></p>
  <p>Content: {{post_detail.content}}</p><br><br>


   <a class="btn btn-primary" href="{% url 'pastebin_app:update' slug=post_detail.slug pk=post_detail.pk %}" role="button">Update</a></p>
   <a class="btn btn-warning" href="{% url 'pastebin_app:delete' slug=post_detail.slug pk=post_detail.pk %}" role="button">Delete</a>
{% endblock %}
